@model ResultDTO<PlantsCategoryList>
<div class="row">
    <div class="col-md-12">
        <div class="mb-3">
            <label for="simpleinput" class="form-label">Kategori Adı</label>
            <input type="text" name="Name" id="simpleinput" value="@Model.Data.Name" class="form-control">
            <input type="hidden" name="Id" value="@Model.Data.Id"/>
        </div>
    </div>
    <div class="col-md-12 text-end">
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
</div>